@{
    ViewBag.Title = "Home Page";
}

<div id="twitterApp" class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>TWEETS</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">PEOPLE</h2>
            <div id="usersToFollowRoot" class="container">
                
            </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script type="text/template" id="peopleTemplate">
        <% _.each(usersToFollow, function(user) { %>
            <div class="js-user-row row">
                <div class="col-md-8"><%= user.nickname %></div>
                <div class="col-md-4">
                    <input name="userId" type="hidden" class="js-user-id" value="<%= user.userId %>" />
                    <% if (user.isFollowed) { %>
                        <button type="button" class="js-unfollow-btn btn btn-danger">Unfollow</button>
                    <% } else { %>
                        <button type="button" class="js-follow-btn btn btn-success">Follow</button>
                    <% } %>
                </div>
                </div>
        <% }); %>
    
    </script>
    @Scripts.Render("~/bundles/app")

    @*<script>
        (function($) {
            window.actions = {
                follow: '@Ajax.JavaScriptStringEncode(Url.Action("Follow", "Home"))'
            };

            $(function() {
                var hub = $.connection.hubName;

                hub.client.methodName = function(param1, param2) {
                };

                $.connection.hub.start().done(function() {
                    hub.server.serverMethodName(param1, param2);
                });

                $(document).on('click', '.js-follow-btn', function() {
                    var $btn = $(this),
                        $userId = $btn.closest('.js-user-row').find('.js-user-id').val();
                    $.post(window.actions.follow, { userId: $userId })
                        .done(function() {

                        });
                });
            });
        })(jQuery);
    </script>*@
}