@{
    ViewBag.Title = "Home Page";
}

<div id="twitterApp" class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <h2>TWEETS</h2>
            <ul id="tweets"></ul>
        </div>
        <div class="col-md-5">
            <h2 class="text-center">PEOPLE</h2>
            <div id="users" class="container"></div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script type="text/template" id="usersTemplate">
        <% _.each(users, function(user) { %>
        <div class="js-user-row row">
            <div class="col-md-8"><%= user.username %></div>
            <div class="col-md-4">
                <input name="username" type="hidden" class="js-username" value="<%= user.username %>" />
                <% if (user.isFollowed) { %>
                <button type="button" class="js-unfollow-btn btn btn-danger">Unfollow</button>
                <% } else { %>
                <button type="button" class="js-follow-btn btn btn-success">Follow</button>
                <% } %>
            </div>
        </div>
        <% }); %>
    </script>
    @Scripts.Render("~/bundles/app")
}