@{
    ViewBag.Title = "Home Page";
}

<div id="twitterApp" class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>TWEETS</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">PEOPLE</h2>
            <div id="users" class="container">
                
            </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script type="text/template" id="usersTemplate">
        <% _.each(users, function(user) { %>
            <div class="js-user-row row">
                <div class="col-md-8"><%= user.username %></div>
                <div class="col-md-4">
                    <input name="username" type="hidden" class="js-username" value="<%= user.username %>" />
                    <% if (user.isFollowed) { %>
                        <button type="button" class="js-unfollow-btn btn btn-danger">Unfollow</button>
                    <% } else { %>
                        <button type="button" class="js-follow-btn btn btn-success">Follow</button>
                    <% } %>
                </div>
                </div>
        <% }); %>
    </script>
    @Scripts.Render("~/bundles/app")

    <script>
        (function($) {
            window.actions = {
                follow: '@Ajax.JavaScriptStringEncode(Url.Action("Follow", "Home"))'
            };
        })(jQuery);
    </script>
}